html, body {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    background-color: #3d3d5c;
    background: url("../assets/backdrops/backdrop1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#logo {
}

#menu_container {
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

#game_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#radar_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}